<% flash.each do |message_type, message| %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-<%= message_type %>">
        <%= message %>
      </div>
    </div>
  </div>
<% end %>
