<tr>
  <td>
    <strong>
      <%= link_to t(".name", id: order.id), "#" %>
    </strong>
  </td>
  <td>
    <%= l order.created_at, format: :date_time %>
  </td>
  <td>
    <span class="label
      label-<%= Settings.order_status_classes[order.status] %>">
      <%= order.status %>
    </span>
  </td>
</tr>
