<%= link_to cart_path do %>
  <div class="total">
    <span class="simpleCart_total"></span>
    <span id="simpleCart_quantity" class="simpleCart_quantity" ></span>
    <%= t ".cart" %>
  </div>
  <i class="glyphicon glyphicon-shopping-cart"></i>
<% end %>
<p>
  <% unless @cart_size == Settings.empty_cart %>
    <%= link_to pluralize(@cart_size, t(".items")), cart_path, class: "simpleCart_empty label label-danger pull-right" %>
  <% else %>
    <%= link_to t(".empty"), "#", class: "simpleCart_empty pull-right" %>
  <% end %>
</p>
<div class="clearfix"></div>
